<div class="wrapper">
  <div class="post-contents">
      <div class="exit-btn"><%= link_to image_tag('exit.png', size:'45x45') , questions_path %>
      </div>
    <div class="post-header">
      <h1>編集</h1>
    </div>

    <%= render partial: "form", locals: { question: @question } %>
  </div>
    <div class="delete-btn">
      <%= button_to "削除する", question_path(@question), method: :delete, class:"delete-submit" %>
    </div>
</div>