<div class="wrapper">
  <div class="side">
    <%= render "/posts/head" %>
  </div>

  <div class="post-index-tab">
    <label>
      <input type="radio" name="post-index-tab" checked>
      回答待ちの質問
    </label>
    <div class="posts-wrapper">
      <% @questions.where(solution: 0).each do |question| %>
        <%= render partial: "question", locals: { question: question } %>
      <% end %>
    </div>
   
    <label>
      <input type="radio" name="post-index-tab">
      解決済みの質問
    </label>
    <div class="posts-wrapper">
      <% @questions.where(solution: 1).each do |question| %>
        <%= render partial: "question", locals: { question: question } %>
      <% end %>
    </div>
  </div>
</div>