<div class="wrapper">
  <div class="side">
      <%= render "/posts/head" %>
  </div>
  
  <div class="join-wrapper">

    <div class="registration-wrapper">
      <h2>アボカド編集</h2>
      
      <div class="registration-form">
        <%= render partial: 'form', locals:{ avocado: @avocado } %>
      </div>
    </div>
    <div class="login">
      <%= link_to "マイページにもどる", user_path(@avocado.user_id), class: "btn" %>
    </div>
  </div>
</div>