/* マイページ */
.mypage-wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1100px;
  padding: 20px 20px;
  border-radius: 10px;
}

.edit-wrapper {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
}

.contents-wrapper {
  display: flex;
  justify-content: space-around;
}

.avocado-contents {
  padding: 10px;
  width: 280px;
  background-color: #FAE995;
  border-radius: 10px;
  border: 5px solid #768655;
  color: #4C3C35;
}


.user-name {
  font-size: 30px;
  font-weight: bold;
}

.user-acount {
  text-align: center;
}

.user-purpose-image {
  margin-top: 5px;
}

.user-detail {
  line-height: 30px;
}

.user-detail dt {
  float: left;
}

.user-detail dt::after {
  content: " : "; 
}

.user-detail dd {
  margin-left: 100px;
  max-width: 200px;
}

.avocado-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.start-date {
  text-align: center;
  font-weight: bold;
}

.avocado-detail {
  line-height: 20px;
  height: 100px;
  text-align: center;
}

.guides {
  border: 3px solid black;
  border-radius: 5px;
  height: 50px;
  width: 80%;
  text-align: center;
  margin-left: 25px;
  background-color: #ffffff;
}

.sub-contents {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  border-top: 2px solid #EEEEEE;
}

.sub-content {
  text-decoration: none;
  padding-top: 20px;
  color: black;
}

.edit-header {
  text-align: center;
}

/* レスポンシブ （タブレット）*/
@media screen and (max-width: 768px) {
  .contents-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-contents {
  border-bottom: 2px solid #EEEEEE;
  }

  .avocado-contents {
    margin-top: 20px;
  } 
   }