/* 新規登録・ログイン */
.join-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  margin: 0 auto;
  text-align: center;
  background-color: #117238;
  color: #E0EDDF;
  padding: 10px 0px;
  margin-top: 30px;
  border-radius: 10px 10px 0 0;
}

.registration-wrapper {
  border: 2px solid #EDF0F3;
  padding: 20px;
  background-color: #fbfbfb;
  margin: 0 auto;
  border-radius: 0 0  10px 10px;
}

.form-content {
  padding-left: 33%;
}

.field {
}

.attentions {
  text-align: right;
  font-size: 15px;
}

.actions {
  margin-top: 30px;
  text-align: center;
}

.login {
  margin-top: 15px;
  margin-left: 20px;
}

input[type="text"] {
  width: 200px;
  height: 20px;
}

.select-box {
  width:  150px;
  height: 30px;
}

input[type="email"] {
  width: 200px;
  height: 20px;
}

input[type="password"] {
  width: 200px;
  height: 20px;
}

/* レスポンシブ （Ipad）*/
@media screen and (max-width: 768px) {
.join-wrapper {
  width: 90%;
}

.form-content {
  padding-left: 33%;
}

.join-wrapper h2 {
  font-size: 20px;
}
}

/* レスポンシブ （Ipad）*/
@media screen and (max-width: 450px) {
  .form-content {
    padding-left: 15%;
  }
  }