<div class="header">
    <h1 class="logo">アボカドサークル</h1>
  <h5 class="sub-title">アボカドをみんなで育てよう</h5>
      <ul class="top-btn">
        <% if user_signed_in? %>
        <li><%= image_tag 'mypage.png', size: '20x20' %>
        <%= link_to "ログアウト", root_path, class: "btn-text" %></li>
        <% else %>
        <li>
        <%= link_to "ログイン", new_user_session_path, class: "btn-text" %></li>
        <li>
        <%= link_to "新規登録", new_user_registration_path, class: "btn-text"%></li>
        <% end %>
</div>