  <div class="header">
    <%= image_tag '/143453.jpg', size: '50x50' %>
    <p class="app-title">アボカドサークル</p>
  </div>
<div class="wrapper">
  <div class="side">
    <%= render "side" %>
  </div>

  <div class="main">
    <%= render "main" %>
  </div>
</div>
