<div class="wrapper">
  <div class="post-contents", id="new_post">
      <div class="exit-btn"><%= link_to image_tag('exit.png', size:'45x45') , root_path %></div>
    <div class="post-header">
      <h1>新規投稿</h1>
    </div>
    <div class="post-body">
    <%= render partial: 'form', locals:{post: @post} %>
    </div>
  </div>
</div>