.question-header {
  height: 53px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e0e0e0;
}

.question-title {
  font-weight: bold;
}

.response-wrapper {
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
}

.like-content {
  display: flex;
  align-items: center;
}

.like-content p{
  margin-left: 5px;
}

.answer-edit {
  font-size: 15px;
  padding: 5px;
  background-color: #117238;
  border-radius: 5px;
  width: 70px;
  text-align: center;
  margin: 0 auto;
}

.answer-edit a{
  color: #ffffff;
}