/* 親はnewpost.css */

.top-contents {
  margin-top: 30px;
}

.title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}


/* レスポンシブ （スマホ）*/
@media screen and (max-width: 768px) {
  .post-contents { 
   width: 100%;
 }
 .text-contents {
  margin: 0 auto;
  width: 300px;
 }

 .form-box {
  width: 100%;
 }

 .title-box {
  width: 100%;
 }
}

/* レスポンシブ （スマホ）*/
@media screen and (max-width: 400px) {
  .post-contents { 
   width: 100%;
 }
 .text-contents {
  margin: 0 auto;
  width: 300px;
 }

 .form-box {
  width: 100%;
 }

 .title-box {
  width: 100%;
 }
}