.response-wrapper {
  display: flex;
  align-items: center;
}

.response-wrapper p {
  margin-right: 50px;
}

.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #E6F3FF;
  border-radius: 10px;
}

.comment-first-line {
  display: flex;
  justify-content: space-between;
}

.comment-delete {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.comment-delete:hover {
  color: red;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}
