body {
background-color: #f3f3f3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #ffffff;
}

.main-title {
  display: flex;
  align-items: center;
}

.top-btn {
  display: flex;
  list-style: none;
}

.btn-text {
  color: black;
  margin: 0 20px;
  font-weight: bold;
}

.mypage-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.sub-title {
  height: 10px;
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  border-bottom: 5px solid #fbfbfb;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.logo {
  font-size: 30px;
  font-family: 'Kaisei Decol', serif;
}

.logo a {
  color: black;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 55%;
  transition: all 0.3s ease-in-out;
}

.nav-links li {
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #ffffff;
}

.menu-list {
  text-decoration: none;
  color: black;
}

.post-btn {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #E0EDDF;
  padding: 10px;
  border-radius: 10px;
  background-color: #117238;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

/* メイン */
.main {
  width: 100%; 
  background-color: #fbfbfb;
}

.main-header {
  height: 53px;
  border: 2px solid #e0e0e0;
  display: flex;
}

.left-tab {
  width: 50%;
  border-right: 2px solid #EDF0F3;
  text-align: center;
  background-color: #ffffff;
}

.right-tab {
  width: 50%;
  text-align: center;
}

.nav-active {
  transform: translateX(0%) !important; 
}

/* レスポンシブ （タブレット）*/
@media screen and (max-width: 768px) {
  .header-wrapper {
    overflow: hidden;
  }
  .btn-text {
    margin-right: 50px;
  }

  .logo {
    font-size: 20px;
  }
  
  .btn-text {
    font-size: 15px;
  }
  .nav-links {
    position: fixed;
    right: 0;
    height: 88vh;
    top: 12vh;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    border: 1px solid #e0e0e0;
    transform: translateX(100%);
  }

  .nav-links li {
    border-bottom: solid 1px black;
     font-size: 20px;
     margin: 20px;
  }

  .burger {
    display: block;
    padding-right: 20px;
  }
 }

 /* レスポンシブ （スマホ）*/
 @media screen and (max-width: 450px) {
  .logo {
    font-size: 17px;
  }
  .btn-text {
    font-size: 10px;
  }

 }