.posts-content {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 2px solid #eeeeee;
}

.posts-content a {
  text-decoration: none;
  color: black;
}

.posts-content:first-child {
  margin-top: 15px;
}

.logo-image {
  padding-top: 10px;
}

.post-username {
  margin-right: 10px;
  font-weight: bold;
}

.post-profiele {
  display: flex;
}

.post-details {
  display: flex;
}

.post-condition {
  margin-left: 30px;
}

.post-edit {
  background-color: #117238;
  margin: 0 auto;
  margin-top: 40px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.post-edit a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.delete-btn {
  margin-top: 100px;
  text-align: center;
  cursor: pointer;
}

/* レスポンシブ （スマホ）*/
@media screen and (max-width: 768px) {
 .post-details { 
  font-size: 12px;
}
}