.posts-content {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 2px solid #eeeeee;
}

.posts-content:first-child {
  margin-top: 15px;
}

.logo-image {
  padding-top: 10px;
}

.post-username {
  margin-right: 10px;
  font-weight: bold;
}

.post-profiele {
  display: flex;
}

.post-details {
  display: flex;
}

.post-condition {
  margin-left: 30px;
}

/* レスポンシブ （スマホ）*/
@media screen and (max-width: 768px) {
 .post-details { 
  font-size: 12px;
}
}