.wrapper {
  background-color: #F3F3F3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #F3F3F3;
}

.top-btn {
  display: flex;
  list-style: none;
}

.btn-text {
  color: black;
  margin: 0 20px;
  font-weight: bold;
}

.mypage-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.sub-title {
  height: 10px;
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  border-bottom: 5px solid #fbfbfb;
}

.logo {
  color: black;
  font-size: 30px;
  font-family: 'Kaisei Decol', serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 55%;
  transition: all 0.5s ease-in-out;
}

.nav-links li {
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #ffffff;
}

.post-btn {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #E0EDDF;
  padding: 10px;
  border-radius: 10px;
  background-color: #117238;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

/* メイン */
.main {
  width: 100%; 
  background-color: #fbfbfb;
}

.main-header {
  height: 53px;
  border: 2px solid #e0e0e0;
  display: flex;
}

.left-tab {
  width: 50%;
  border-right: 2px solid #EDF0F3;
  text-align: center;
  background-color: #ffffff;
}

.right-tab {
  width: 50%;
  text-align: center;
}

.nav-active {
  transform: translateX(0%) !important; 
}

/* レスポンシブ （スマホ）*/
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .logo {
    font-size: 20px;
  }
  
  .btn-text {
    font-size: 10px;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 80vh;
    top: 20vh;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid #e0e0e0;
    transform: translateX(100%);
  }

  .nav-links li {
     font-size: 15px;
  }

  .burger {
    display: block;
    padding-right: 20px;
  }
 }